extends layout 

block tabla-productos
    script. 
    h1="Productos"
    if hayProductos 
        table
            thead 
                th="Nombre" 
                th="Precio" 
                th="Imagen" 
            tbody
                each prod in productos
                    tr 
                        td= prod.title
                        td= prod.price
                        td
                            img(src=prod.thumbnail, alt="")
                         
    else
        p No hay productos
    br
    button(onclick="window.location='/';") Agregar producto


